<!DOCTYPE html>
<html lang="es">

<!-- Head -->

<head>
    <link rel="stylesheet" href="./css/login.css">
</head>
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <main class="formulario">
                <div class="left-side">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_eoiuzkfc.json"
                        background="transparent" speed="1" style="width: 50vw; height: 400px;" loop autoplay>
                    </lottie-player>
                </div>
                <div class="rigth-side">
                    <div class="form">
                        <form action="/login" method="POST">
                            <p>E mail</p>
                            <input type="text" name="email">
                            <% if (locals.errors && errors.email) {%>
                                <div>
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                                    <br><br>
                                    <p>Contraseña</p>
                                    <input type="password" name="password"><br><br>
                                    <input type="checkbox" class="check-box" name="recordar"><span>Recuerdame</span>
                                    <p>
                                        <a href="/register"><strong>¿No tienes cuenta?</strong></a><br><br>
                                    </p>
                                    <p class="btn-login">
                                        <button type="submit"><span class="text-btn">Iniciar sesión</span></button>
                                    </p>
                        </form>
                    </div>
                </div>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>