<!DOCTYPE html>
<html lang="es">

<!-- Head -->

<head>
    <link rel="stylesheet" href="./css/login.css">
</head>
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <main class="formulario">


                <div class="form filter">
                    <form action="/login" method="POST">
                        <label for="email">Email</label><br>
                        <input type="text" name="email"><br>
                        <% if (locals.errors && errors.email) {%>
                            <div>
                                <p style="color: red;">
                                    <%= errors.email.msg %>
                                </p>
                            </div>
                            <% } %>

                                <label for="password">Contraseña</label><br>
                                <input type="password" name="password"><br>
                                <a href="/register"><strong>¿No tienes cuenta?</strong></a><br><br>
                                <p class="btn-login">
                                    <button type="submit"><span class="text-btn">Iniciar sesión</span></button>
                                </p>
                    </form>

            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>