<!DOCTYPE html>
<html lang="en">

<!-- Head -->

<head>
    <link rel="stylesheet" href="./css/register.css">
</head>
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <main class="formulario">
                <div class="left-side">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_jcikwtux.json"
                        background="transparent" speed="1" style="width: 50vw; height: 400px;" loop autoplay>
                    </lottie-player>
                </div>
                <div class="rigth-side">
                    <div class="formu">
                        <form action="/registerUser" method="POST">

                            <div>
                                <label for="first_name">Nombres</label><br><br>
                                <input type="text" name="first_name">
                            </div><br>
                            <div>
                                <label for="last_name">Apellidos</label><br><br>
                                <input type="text" name="last_name">
                            </div><br>


                            <div>
                                <label for="email">Correo electrónico</label><br><br>
                                <input type="email" name="email">
                            </div><br>
                            <div>
                                <label for="password">Contraseña</label><br><br>
                                <input type="password" name="password">
                            </div><br>
                            <div>
                                <label for="category">Perfil</label><br><br>
                                <select name="category" required="true">
                                    <option value="" selected disabled>Seleccione un perfil</option>
                                    <option value="vendedor">Vendedor</option>
                                    <option value="user">Comprador</option>
                                </select>
                            </div><br>
                            <div class="custom-input-file" id="src-file1">
                                <input type="file" class="input-file" name="imgPerfil" value="">
                                Subir imagen...
                            </div><br>
                            <p class="btn-login">
                                <button type="submit">Registrarse</button>
                            </p>
                            <a href="/login"><strong>¿Ya tienes cuenta?</strong></a><br><br>

                        </form>
                    </div>
                </div>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>