<!DOCTYPE html>
<html lang="es">

<!-- Head -->

<head>
    <link rel="stylesheet" href="./css/register.css">
</head>
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <main class="formulario">


                <div class="form">
                    <form action="/registerUser" method="POST" enctype="multipart/form-data">

                        <div class="inputContainer">
                            <label class="labelInput" for="first_name">Nombres</label><br>
                            <input type="text" name="first_name" placeholder="Ej: Juan Pablo">
                        </div>
                        <div class="inputContainer">
                            <label class="labelInput" for="last_name">Apellidos</label><br>
                            <input type="text" name="last_name" placeholder="Ej: Lopez Correa">
                        </div>


                        <div class="inputContainer">
                            <label class="labelInput" for="email">Correo electrónico</label><br>
                            <input type="email" name="email" placeholder="Ej: juan@pablo.com">
                        </div>
                        <div class="inputContainer">
                            <label class="labelInput" for="password">Contraseña</label><br>
                            <input type="password" name="password" >
                        </div>
                        <div class=" inputContainer">
                            <input type="file" class="" name="imgPerfil" accept=".png,.jpg" >
                        </div><br>
                        <p class="btn-login">
                            <button type="submit">Registrarse</button>
                        </p>
                        <a href="/login"><strong>¿Ya tienes cuenta?</strong></a><br><br>

                    </form>
                </div>

            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>