<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <main class="formulario">
                <div class="left-side">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_jcikwtux.json" background="transparent" speed="1" style="width: 50vw; height: 400px;" loop autoplay></lottie-player>
                </div>
                <div class="rigth-side">
                    <div class="form">
                        <form action="" method="POST">
                            <div class="fila">
                                <div>
                                    <p>Nombres</p>
                                    <input type="text">
                                </div>
                                <div>
                                    <p>Apellidos</p>
                                    <input type="text">
                                </div>
                            </div>
                            <br><br>
                            <div class="fila2">
                                <div>
                                    <p>Correo electrónico</p>
                                    <input type="password">
                                </div>
                                <div>
                                    <p>Fecha de nacimiento</p>
                                    <input type="date">
                                </div>
                            </div>
                            <br><br>
                            <div class="fila3">
                                <a href="#"><strong>¿Ya tienes cuenta?</strong></a><br><br>
                                <div class="btn-login">
                                    <input type="submit" value="Iniciar sesión">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>

    </body>

</html>