<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <main>
                <section class="masvendido">
                    <h3> Lo más vendido </h3>
                    <article class="products">
                        <h4> Canasto Tejido En Iraca </h4>
                        <img src="/images/canasto-iraca.jpg" alt="Canasto-iraca" class="product_img">
                        <p class="description"> Canasto tejido elaborado por manos artesanas con Iraca en el
                            departamento de Nariño </p>
                        <p class="price">$45.000 </p>
                        <a href="/productDetail">Ver más</a>
                    </article>
                    <article class="products">
                        <h4> Hamaca San Jacinto </h4>
                        <img src="/images/Hamaca san jacinto.jpeg" alt="Hamaca" class="product_img">
                        <p class="description"> Hamaca cuadro acordonada amarillo/azul/verde || Asociación de Artesanos
                            de San Jacinto </p>
                        <p class="price"> $477.000 </p>
                        <a href="/productDetail">Ver más</a>
                    </article>
                    <article class="products">
                        <h4> Willys Pitalito Grande Rojo </h4>
                        <img src="/images/willy.jpg" alt="Willy" class="product_img">
                        <p class="description"> Willys elaborado en Arcilla por manos artesanas en el departamento del
                            Huila. </p>
                        <p class="price"> $88.000 </p>
                        <a href="/productDetail">Ver más</a>
                    </article>
                    <article class="products">
                        <h4> Banco Pensador Colibrí </h4>
                        <img src="/images/colibri.jpg" alt="Colibri" class="product_img">
                        <p class="description"> Banco Pensador elaborado por manos artesanas con Madera Chonta en el
                            departamento del Putumayo. </p>
                        <p class="price"> $419.000 </p>
                        <a href="/productDetail">Ver más</a>
                    </article>
                    <article class="products">
                        <h4> Mascara Calada Madera Chaquira </h4>
                        <img src="/images/mascara.jpg" alt="mascara" class="product_img">
                        <p class="description"> Mascara elaborada por manos artesanas con Madera y Chaquiras en el
                            departamento del Putumayo. </p>
                        <p class="price"> $628.000 </p>
                        <a href="/productDetail">Ver más</a>
                    </article>
                    <article class="products">
                        <h4> Talla Armadillo Sikuani </h4>
                        <img src="/images/armadillo.jpg" alt="armadillo" class="product_img">
                        <p class="description"> Armadillo elaborado en Madera de Balso por manos artesanas en el
                            departamendo de Vichada. </p>
                        <p class="price"> $209.000 </p>
                        <a href="/productDetail">Ver más</a>
                    </article>
                </section>

                <section class="regions">
                    <h3>Regiones</h3>
                    <article class="andina">
                        <h4>Región Andina</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="caribe">
                        <h4>Región Caribe</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="pacifica">
                        <h4>Región Pacífica</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="orinoquia">
                        <h4>Región de la Orinoquía</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="amazonica">
                        <h4>Región de la Amazonía</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>
                    <article class="insular">
                        <h4>Región Insular</h4>
                        <p class="description-region">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
                            quae dolor est perspiciatis ratione.</p>
                    </article>

                </section>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>