.footerContainer {
    position: relative;
    width: 100%;
    text-align: center;
    bottom: -100px;
  }
  
  .footerContainer .footer section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  
  footer section p a {
    color: rgb(45, 178, 255);
    font-size: 18px;
  }