* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  background-color: #2196f3;
  margin-bottom: 10px;
}

header .top-bar {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header .top-bar .box-logo {
  width: 50%;
}

header .top-bar .box-logo a {
  text-decoration: none;
}

header .top-bar .box-logo a .logo {
  width: 70%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

header .top-bar .box-logo a .title {
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Zen Old Mincho", serif;
  font-size: 18px;
}

header .top-bar .search {
  width: 50%;
  margin: auto;
  text-align: center;
}

header .top-bar .search input {
  outline: none;
  width: 150px;
  border: 1px solid #fff;
  padding: 4px 0;
  border-radius: 5px;
  /* border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; */
}

header .top-bar .search button {
  border: 1px solid rgba(150, 201, 61, 1);
  border-radius: 5px;
  background: rgba(150, 201, 61, 1);
  color: white;
  font-weight: bold;
  padding: 4px 0px;
  transition: all 0.5s;
}

button:hover {
  cursor: pointer;
  background: rgb(175, 230, 81);
}

header .top-bar .main-navbar {
  display: none;
}

header .browse-navbar {
  display: none;
}

header .burger-menu {
  text-align: center;
  padding-bottom: 10px;
}

header .burger-menu i {
  border: 1px solid #03264c;
  border-radius: 5px;
  background: #03264c;
  color: white;
  padding: 5px;
}

header .banner-img img {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 0.9;
}

@media (min-width: 481px) {
  header .top-bar .box-logo {
    width: 30vw;
  }

  header .top-bar .search {
    width: 30vw;
    margin: auto 0;
  }

  header .top-bar .search input {
    width: 80%;
  }

  header .top-bar .main-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header .top-bar .main-navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  header .top-bar .main-navbar ul li {
    text-align: center;
    margin: 0 10px;
  }

  header .top-bar .main-navbar ul li a {
    text-decoration: none;
  }

  header .top-bar .main-navbar ul li a i {
    color: white;
    font-size: 20px;
  }

  header .top-bar .main-navbar ul li a p {
    margin: 2px auto;
    font-size: 15px;
    color: white;
  }

  header .browse-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  header .browse-navbar ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    list-style: none;
  }

  header .browse-navbar ul li a {
    text-decoration: none;
    margin: 0 5px;
    color: white;
    font-size: 17px;
  }

  header .burger-menu {
    display: none;
  }

}

header .top-bar .main-navbar .ImgPerfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

