.mainProduct {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.mainProduct .productDetail {
  width: 70%;
  background-color: rgba(235, 235, 235, .8);
  border-radius: 5px;
  padding-bottom: 20px;
}

.mainProduct .productDetail .title-product {
  text-align: center;
}

.mainProduct .productDetail .infoSide {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.mainProduct .productDetail .infoSide .imgSide {
  max-width: 45%;
}

.productDetail img {
  width: 100%;
  border-radius: 4px;
}

.mainProduct .productDetail .infoSide .grid-detail {
  max-width: 45%;
}

.mainProduct .productDetail .infoSide .grid-detail .field-text {
  margin:10px auto;
}


.mainProduct .productDetail .infoSide .grid-detail .field-text h4 {
  font-size: 18px;
}

.mainProduct .productDetail .infoSide .grid-detail .field-text p {
  color: #000;
}


.mainProduct .productDetail .infoSide button {
  padding: 8px 10px;
  border-radius: 4px;
  background-color: rgba(65,137,230,.15);
  border-color: transparent;
  color: #3483fa;
}

.mainProduct .productDetail .infoSide button:hover {
  background-color: rgba(100, 178, 241, 0.712);
  color: aliceblue;
transition: background-color .2s ease-in;
}

