body {
  overflow-x: hidden;
}

.formulario {
  position: relative;
  width: 100%;
  height: 135vh;
  align-items: center;
  margin-top: 300px;
  display: flex;
  text-align: center;
  align-items: center;
}

.form {
  background-color: rgba(218, 218, 218, .7);
  width: 50%;
  margin: 0 auto;
  border-radius: 6px;
  height: 90%;
  padding-top: 10px;
}

.form p {
  color: black;
}

.form form {
  display: block;
}

.form form input {
  margin: 13px 0;
  border-radius: 5px;
}

.form form input:focus {
  outline: deepskyblue;
  border: 2px solid deepskyblue;
}

.form a {
  font-weight: 300;
  text-decoration: none;
  color: rgb(33, 142, 231);
}

.check-box {
  width: 30px;
}

.text-btn {
  text-align: center;
}
.image-load {
  display: flex;
  margin: auto;
}

.btn-login button {
  border: none;
  font-weight: bold;
  border-radius: 3px;
  background-color: rgba(150, 201, 61, 1);
  cursor: pointer;
  padding: 3px;
}

/* viewport */

@media (min-width: 481px) {
  .formulario {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .formulario {
    justify-content: center;
  }
}