.formulario {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  text-align: center;
}

.formulario .form-product {
  background-color: rgba(218, 218, 218, 0.7);
  width: 90%;
  border-radius: 6px;
  padding: 10px; 
  margin: auto;
  margin-bottom: 10px;
}

.formulario .form-product .title-form {
  margin-bottom: 10px;
}

.formulario .form-product .field-form {
  margin: 10px auto;
}


.formulario .form-product .field-form label {
  font-size: 16px;
}

.formulario .form-product .field-form input {
  margin: 13px 0;
  border-radius: 5px;
  width: 70%;
  height: 30px;
  font-size: 1em;
  padding: 5px;
}

.formulario .form-product .field-form textarea {
  margin: 13px 0;
  border-radius: 5px;
  width: 70%;
  font-size: 1em;
  padding: 5px;
}

.formulario .form-product .field-form input:focus {
  outline: none;
  border: 1px solid black;
}

.formulario .form-product .btn-login button {
  padding: 5px 30px;
  text-align: center;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  background-color: rgba(150, 201, 61, 1);
  cursor: pointer;
}

.formulario .form-product a {
  font-weight: 300;
  text-decoration: none;
  color: rgb(33, 142, 231);
  font-size: 16px;
}

.formulario .form-product .errores-front {
  color: red;
}

.formulario .form-product .errores-back p {
  color: red;
  margin: 0 auto;
}

@media (min-width: 481px) {
  .formulario {
    margin: 20px auto;
  }

  .formulario .form-product {
    width: 70%;
  }
  .formulario .form-product .field-form input {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .formulario .form-product {
    width: 40%;
  }
  .formulario .form-product .field-form input {
    width: 60%;
  }

  .formulario .form-product .field-form textarea {
    width: 60%;
    height: 100px;
  }
}