@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header */

header {
    background-color: whitesmoke;
    max-width: 100vw;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    max-width: 100px;
}

header ul {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding: 8px;
    background-color: #ff0095;
    border-radius: 7px;
    font-weight: bold;
}

/*Main*/

.formulario {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.left-side {
    align-items: center;
}

.rigth-side {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.form form {
    padding: 30px;
    width: 30vw;
    align-items: center;
}

.form a {
    color: #ff0095;
    font-weight: 300;
}

.fila, .fila2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fila3 {
    justify-content: center;
}