@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap");

:root {
  --primaryColor: rgba(150, 201, 61, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

/* Product Edit */

.productEdit {
  margin: auto;
  width: 90vw;
  text-align: center;
  padding: 10px;
}

form p {
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
  justify-content: center;
}

form p input {
  display: block;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
}

form p textarea {
  display: block;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
}
.productTable tbody tr > td {
  border: 1px solid black;
  height: 30px;
  padding-left: 3px;
}
.productTable {
  padding-left: 40px;
  margin-top: 20px;
}

/* viewport */

@media (min-width: 481px) {
  /*index */
  main .masvendido .products {
    width: 45vw;
    margin: 10px auto;
  }

  main .regions {
    display: flex;
    flex-wrap: wrap;
  }

  main .masvendido h3,
  main .regions h1 {
    display: inline-block;
    width: 100%;
  }

  main .regions h1 {
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    margin: 50px 0;
  }

  main .regions .andina,
  main .regions .caribe,
  main .regions .pacifica,
  main .regions .orinoquia,
  main .regions .amazonica,
  main .regions .insular {
    width: 50%;
  }

  form p button {
    width: 40%;
  }

  /* productDetail*/
  main .mainproduct {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }

  main .mainproduct .title-product {
    margin: auto;
    width: 100%;
  }

  main .mainproduct .main-img {
    width: 60%;
  }

  main .mainproduct .grid-detail {
    display: grid;
    width: 40%;
    align-self: center;
  }

  main .mainproduct .grid-detail .box-quantity {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }

  main .mainproduct .grid-detail .add {
    width: 90%;
    margin: 10px auto;
  }

  /* Product Edit */
  .productEdit {
    width: 65vw;
  }
}

@media (min-width: 768px) {
  /* index */
  main .masvendido .products {
    width: 30%;
  }

  main .regions .andina,
  main .regions .caribe,
  main .regions .pacifica,
  main .regions .orinoquia,
  main .regions .amazonica,
  main .regions .insular {
    width: 33.33%;
    height: 250px;
  }

  main .regions .andina h4,
  main .regions .caribe h4,
  main .regions .pacifica h4,
  main .regions .orinoquia h4,
  main .regions .amazonica h4,
  main .regions .insular h4 {
    font-size: 26px;
  }

  main .regions .andina .description-region,
  main .regions .caribe .description-region,
  main .regions .pacifica .description-region,
  main .regions .orinoquia .description-region,
  main .regions .amazonica .description-region,
  main .regions .insular .description-region {
    font-size: 16px;
  }

  form p button {
    width: 30%;
  }

  /* Product Edit */
  .productEdit {
    width: 50vw;
  }

  /*ProductDetail */
  main .mainproduct {
    justify-content: space-between;
  }

  main .mainproduct .main-img {
    width: 50%;
  }

  main .mainproduct .grid-detail .add {
    padding: 10px;
  }

  /*Products */

  .nuevo {
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #148f77;
    background: #1abc9c;
    color: white;
    font-weight: bolder;
  }
}