@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap");

:root {
  --primaryColor: rgba(150, 201, 61, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

/* index */

.contenido {
  width: 100% !important;
}

.container {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
  margin: 0;
}

.contenido h1 {
  margin-top: 400px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* REGIONES */

.regions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.regionCard {
  background: var(--i);
  width: 500px;
  height: 250px;
  margin: 20px 20px;
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 6px;
  transition: all 0.5s;
}

.content h4,
p {
  font-size: 15px;
  color: white;
  margin: 10px 0;
}

.regionCard:hover .content {
  opacity: 1;
}

/* productCart*/

/* .carrito {
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.productCar {
  margin: auto;
  margin-top: 10px;
}
.productCar article {
  width: 80%;
  margin: auto;
  background: wheat;
  box-shadow: 5px 9px 5px -4px rgba(56, 55, 56, 1);
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 15px;
}
.cantidad {
  margin: 10px;
}
.eliminar {
  margin: 5px;
}
.eliminar:hover {
  color: red;
  cursor: pointer;
}
form p button {
  border: 1px solid #148f77;
  background: #1abc9c;
  color: white;
  width: 60%;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 8px;
} */

/* PorductDetail */



/* Product Edit */

.productEdit {
  margin: auto;
  width: 90vw;
  text-align: center;
  padding: 10px;
}

form p {
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
  justify-content: center;
}

form p input {
  display: block;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
}

form p textarea {
  display: block;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
}
.productTable tbody tr > td {
  border: 1px solid black;
  height: 30px;
  padding-left: 3px;
}
.productTable {
  padding-left: 40px;
  margin-top: 20px;
}

/* viewport */

@media (min-width: 481px) {
  header .top-header .box-logo {
    width: 30%;
    margin: 0;
  }

  header .top-header .box-logo .logo {
    width: 80%;
  }

  header .top-header .searchbar input {
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
  }

  header .top-header .searchbar button {
    position: relative;
    bottom: 24px;
    left: 77px;
    padding: 1px;
  }

  /*index */
  main .masvendido .products {
    width: 45vw;
    margin: 10px auto;
  }

  main .regions {
    display: flex;
    flex-wrap: wrap;
  }

  main .masvendido h3,
  main .regions h1 {
    display: inline-block;
    width: 100%;
  }

  main .regions h1 {
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    margin: 50px 0;
  }

  main .regions .andina,
  main .regions .caribe,
  main .regions .pacifica,
  main .regions .orinoquia,
  main .regions .amazonica,
  main .regions .insular {
    width: 50%;
  }

  form p button {
    width: 40%;
  }

  /* productCar*/

  /* productDetail*/
  main .mainproduct {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }

  main .mainproduct .title-product {
    margin: auto;
    width: 100%;
  }

  main .mainproduct .main-img {
    width: 60%;
  }

  main .mainproduct .grid-detail {
    display: grid;
    width: 40%;
    align-self: center;
  }

  main .mainproduct .grid-detail .box-quantity {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }

  main .mainproduct .grid-detail .add {
    width: 90%;
    margin: 10px auto;
  }

  /* Product Edit */
  .productEdit {
    width: 65vw;
  }
}

@media (min-width: 768px) {
  header .top-header {
    padding: 0 20px;
  }

  header .top-header .box-logo {
    width: 20%;
  }

  header .top-header .main-navbar ul li a p {
    display: block;
  }

  header .browse-navbar {
    display: block;
  }

  header .browse-navbar ul {
    justify-content: center;
  }

  header .browse-navbar ul li {
    margin: 10px 45px;
    font-weight: 600;
    font-size: 16px;
  }

  header .burger-menu {
    display: none;
  }

  /* index */
  main .masvendido .products {
    width: 30%;
  }

  main .regions .andina,
  main .regions .caribe,
  main .regions .pacifica,
  main .regions .orinoquia,
  main .regions .amazonica,
  main .regions .insular {
    width: 33.33%;
    height: 250px;
  }

  main .regions .andina h4,
  main .regions .caribe h4,
  main .regions .pacifica h4,
  main .regions .orinoquia h4,
  main .regions .amazonica h4,
  main .regions .insular h4 {
    font-size: 26px;
  }

  main .regions .andina .description-region,
  main .regions .caribe .description-region,
  main .regions .pacifica .description-region,
  main .regions .orinoquia .description-region,
  main .regions .amazonica .description-region,
  main .regions .insular .description-region {
    font-size: 16px;
  }

  form p button {
    width: 30%;
  }

  /* productCar*/
  /* .productCar {
    width: 30%;
  } */

  /* productDetail*/
  /* main .mainproduct {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
  } */

  /* Product Edit */
  .productEdit {
    width: 50vw;
  }

  /*ProductDetail */
  main .mainproduct {
    justify-content: space-between;
  }

  main .mainproduct .main-img {
    width: 50%;
  }

  main .mainproduct .grid-detail .add {
    padding: 10px;
  }

  /* main .mainproduct .description,
  .characteristic {
    margin: 0;
    width: 45%;
    border-bottom: 1px solid gray;
  } */

  /*Products */

  .nuevo {
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #148f77;
    background: #1abc9c;
    color: white;
    font-weight: bolder;
  }
}