<footer>
    <section>
        <p>© 2021 Artisan Market</p>
        <p><i class="fab fa-linkedin"></i></p>
        <p>
            </i> <i class="fab fa-twitter"></i></p>
        <p><i class="fab fa-facebook-f"></i></p>
        <p><i class="fab fa-instagram"></i></p>
    </section>
</footer>