<footer class="footer">
	<div class="section-1">
		<div class="box" id="main">
			<h2>Artisan Market</h2>
			<h5> Proyecto desarrollado con mucho amor y arduo trabajo durante el Bootcamp de Protalento y Digital House. </h5>
		</div>
		<div class="box">
			<h3>Centro de ayuda</h3>
			<h5>Preguntas frecuentes</h5>
			<h5>Términos y condiciones</h5>
			<h5>Políticas de la empresa</h5>
			<br>
			<h3>Síguenos en:</h3>
			<div class="redes-sociales">
				<a href="#"><i class="fab fa-linkedin"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
		<div class="box">
				<h3>Contáctanos: </h3>
				<div>
					<h5>Dirección:</h5>
					<p>Carrera 68A #24B-10. Oficina 505</p>
					<p>Bogotá - Colombia</p>
				</div>
				<div>
					<h5>Teléfono</h5>
					<p>+57 (7) 6572828 - (7) 64529839</p>
				</div>
				<div>
					<h5>Email</h5>
					<p> contacto@artisanmarket.com</p>
				</div>
		</div>

	</div>
	<div class="section-2">
		<small>&copy; 2022 <b>Artisan Market</b> - Todos los derechos reservados</small>
	</div>
</footer>