<footer class="footerContainer">
    <div class="footer">
        <section>
            <!-- <p>© 2021 Artisan Market</p> -->
            <p><a href="#"><i class="fab fa-linkedin"></i></a></p>
            <p><a href="#"><i class="fab fa-twitter"></i></a></p>
            <p><a href="#"><i class="fab fa-facebook-f"></i></a></p>
            <p><a href="#"><i class="fab fa-instagram"></i></a></p>
        </section>
    </div>
</footer>