<header>
	<div class="top-bar">
		<div class="box-logo">
			<a href="/">
				<img class="logo" src="/images/logo.png" width="360" alt="Logo de Artisan Market">
				<h1 class="title">Artisan Market Colombia</h1>
			</a>
		</div>
		<form method="get" action="/products/search" class="search">
			<input type="search" name="search" placeholder="Busca un producto"/>
			<button><i class="fas fa-search"></i></button>
		</form>
		<nav class="main-navbar">
			<ul>
				<% if(locals.isLogged){ %>
					<li>
						<p class="Perfil">
							<img class="ImgPerfil" src="/images/users/<%= locals.userLogged[0].image%>" style='border-radius: 100%;'
								alt="">
						</p>
					</li>
					<li>
						<a href="./users/userDetail/<%= locals.userLogged[0].id%>">
							<p>
								<%= locals.userLogged[0].name%>
							</p>
							<p>
								<%= locals.userLogged[0].lastname%>
							</p>
						</a>
					</li>
					<li>
						<a href="/products/productCart">
							<i class="fas fa-shopping-cart"></i>
							<p> Carrito </p>
						</a>
					</li>
					<li>
						<a href="/users/logout"> Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
					</li>
					<%} else{ %>
						<li>
							<a href="/users/register">
								<i class="far fa-id-card"></i>
								<p> Registro </p>
							</a>
						</li>
						<li>
							<a href="/users/login">
								<i class="fas fa-user"></i>
								<p> Ingreso </p>
							</a>
						</li>
						<%}%>
			</ul>
		</nav>
	</div>

	<nav class="browse-navbar">
		<ul>
			<% if(!locals.isLogged){%>
				<li><a href="#">Regiones</a></li>
				<li><a href="#">Contactanos</a></li>
				<% } else if (locals.userLogged[0].roles_id=="2" ) { %>
					<li><a href="#">Regiones</a></li>
					<li><a href="#">Contactanos</a></li>
					<%} else {%>
						<li><a href="#">Regiones</a></li>
						<li><a href="#">Contactanos</a></li>
						<li><a href="/products">Administración de Productos</a></li>
						<li><a href="/users">Administración de Usuarios</a></li>
						<% } %>
		</ul>
	</nav>

	<div class="burger-menu">
		<i class="fas fa-bars"></i>
	</div>

	<div class="banner-img">
		<img src="./images/hechoEnColombia.jpg" alt="Banner">
	</div>

</header>