<header>
    <div class="top-header">
        <div class="box-logo">
            <a href="/">
                <img class="logo" src="/images/logo.png" width="360" alt="Logo de Artisan Market">
                <h1 class="title">Artisan Market Colombia</h1>
            </a>
        </div>
        <div class="searchbar">
            <input type="search" placeholder="Buscar productos">
            <button><i class="fas fa-search"></i></button>
        </div>
        <nav class="main-navbar">
            <ul>
                <% if(locals.usuario) { %>
                    <li>
                        <a href="/products/productCart">
                            <i class="fas fa-shopping-cart"></i>
                            <p> Carrito </p>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">Cerrar sesión<i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    <li>
                        <div class="Perfil">
                            <img src="/images/users/<%=locals.usuario.avatar %>" style='border-radius: 100%;' alt="">
                        </div>
                    </li>
                    <% } else { %>
                        <li>
                            <a href="/register">
                                <i class="far fa-id-card"></i>
                                <p> Registro </p>
                            </a>
                        </li>
                        <li>
                            <a href="/login">
                                <i class="fas fa-user"></i>
                                <p> Ingreso </p>
                            </a>
                        </li>
                        <%}%>
            </ul>
        </nav>
    </div>
    <nav class="browse-navbar">
        <ul>
            <li><a href="#">Regiones</a></li>
            <li><a href="/products">Listado de Productos</a></li>
            <li><a href="#">Contactanos</a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>