/*Main*/

.formulario {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.left-side {
    align-items: center;
}

.rigth-side {
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.form {
    padding: 30px;
    text-align: center;
    font-weight: 200;
}

.form a {
    font-weight: 300;
}

/* viewport */

@media (min-width: 481px) {
    .formulario {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .formulario {
        justify-content: center;
    }
}