/*Main*/

.formulario {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.left-side {
    align-items: center;
}

.rigth-side {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.form form {
    padding: 30px;
    width: 30vw;
    align-items: center;
}

.form a {
    font-weight: 300;
}

.fila, .fila2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fila3 {
    justify-content: center;
}

/* viewport */

@media (min-width: 481px) {
    .formulario {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .formulario {
        justify-content: center;
    }
}