<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include ('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include ('../partials/header') %>

            <main>
                <section class="mainproduct">
                    <h3 class="title-product"> Canasto Tejido En Iraca </h3>
                    <img src="/images/canasto-iraca.jpg" alt="Canasto" class="main-img">
                    <div class="box-price">
                        <h4> Precio </h4>
                        <p> $45.000 COP </p>
                    </div>
                    <div class="box-quantity">
                        <h4> Cantidad </h4>
                        <select name="Cantidad" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <button type="button" class="shop"> Comprar </button>
                    <button type="button" class="add"> Agregar al carrito</button>
                    <div class="description">
                        <h4>Descripción</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sequi incidunt animi quod
                            dignissimos excepturi molestias. Ratione odit et doloremque reiciendis laboriosam aliquid
                            natus dolores tempora voluptatem, earum vero vel.</p>
                    </div>
                    <div class="characteristic">
                        <h4> Características</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores necessitatibus laborum
                            possimus ex ullam! Illum aliquid dolorum maxime dolor, est similique cumque accusantium odit
                            adipisci rerum neque voluptates officia ipsum?</p>
                    </div>
                </section>
                <section class="masvendido">
                    <h3> Productos similares </h3>
                    <article class="products">
                        <h4> Willys Pitalito Grande Rojo </h4>
                        <img src="/images/willy.jpg" alt="Willy" class="product_img">
                        <p class="description"> Willys elaborado en Arcilla por manos artesanas en el departamento del
                            Huila. </p>
                        <p class="price"> $88.000 </p>
                        <a href="/productDetail">Ver más</a>
                    </article>
                    <article class="products">
                        <h4> Banco Pensador Colibrí </h4>
                        <img src="/images/colibri.jpg" alt="Colibri" class="product_img">
                        <p class="description"> Banco Pensador elaborado por manos artesanas con Madera Chonta en el
                            departamento del Putumayo. </p>
                        <p class="price"> $419.000 </p>
                        <a href="/productDetail">Ver más</a>
                    </article>
                    <article class="products">
                        <h4> Mascara Calada Madera Chaquira </h4>
                        <img src="/images/mascara.jpg" alt="mascara" class="product_img">
                        <p class="description"> Mascara elaborada por manos artesanas con Madera y Chaquiras en el
                            departamento del Putumayo. </p>
                        <p class="price"> $628.000 </p>
                        <a href="/productDetail">Ver más</a>
                    </article>
                </section>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer') %>
    </body>

</html>