<!DOCTYPE html>
<html lang="es">
<!-- Head -->

<head>
	<link rel="stylesheet" href="/css/productCreate.css">
</head>
<%- include ('../partials/head') %>

	<body>
		<!-- Header -->
		<%- include ('../partials/header') %>
			<% if(locals.userLogged[0].roles_id=="1" ){%>
				<main class="formulario">

					<form class="form-product" action="/products/productCreate" method="POST" enctype='multipart/form-data'>
						<h2 class="title-form"> Nuevo producto</h2>

						<div class="errores-back">
							<% if (locals.errors) { errors.forEach(error=> { %>
								<p>
									* <%= error.msg %>
								</p>
								<% }) } %>
						</div>

						<div class="field-form">
							<label for="productName">Nombre del producto</label><br>
							<input type="text" class="productName" name="productName" placeholder="Nombre del producto" required>
						</div>

						<div class="field-form">
							<label for="description">Descripción</label><br>
							<textarea type="text" class="description" name="description" value=description required></textarea>
						</div>

						<div class="field-form">
							<label for="region">Seleccione una región</label><br>
							<select name="region">
								<option value="1">Andina</option>
								<option value="2">Pacífica</option>
								<option value="3">Caribe</option>
								<option value="4">Amazonía</option>
								<option value="5">Orinoquía</option>
								<option value="6">Insular</option>
							</select>
						</div>

						<div class="field-form">
							<label for="quantity">Cantidad</label><br>
							<input type="text" class="quantity" name="quantity" placeholder="Cantidad" required>
						</div>

						<div class="field-form">
							<label for="price">Precio</label><br>
							<input type="text" class="price" name="price" placeholder="Precio" required>
						</div>

						<div class="field-form">
							<label for="image">Foto del producto</label><br>
							<input type="file" class="image" name="image" accept=".jpg,.png,.jpeg,.gif" required>
						</div>

						<div class="errores-front">
							<ul> </ul>
						</div>

						<p class="btn-login">
							<button type="submit">Guardar</button>
						</p>
					</form>
				</main>
				<% } else { %>
					<h3>Acceso Denegado</h3>
					<% } %>

						<!-- Footer -->
						<%- include('../partials/footer') %>

							<script src="/js/products/product.js"></script>

	</body>

</html>