<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisan Market Colombia</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="top-header">
            <img class="logo" src="/images/logo.png" width="360" alt="Logo de Artisan Market">
            <h1>Artisan Market Colombia</h1>
            <div class="searchbar">
                <input type="search" placeholder="Buscar productos">
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Ingreso </a></li>
                <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
    </header>
</body>

</html>