<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="stylesheet" href="./css/login.css">

</head>

<body>
    <header>
        <div class="top-header">
            <img class="logo" src="/images/logo.png" width="360" alt="Logo de Artisan Market">
        </div>
        <h1>Artisan Market Colombia</h1>
        <nav>
            <ul>
                <li><a href="/register">Registro</a></li>
            </ul>
    </header>
    <main class="formulario">
        <div class="left-side">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_eoiuzkfc.json" background="transparent"
                speed="1" style="width: 50vw; height: 100vh;" loop autoplay></lottie-player>
        </div>
        <div class="rigth-side">
            <div class="form">
                <form action="" method="POST">
                    <p>Nombre de usuario</p>
                    <input type="text">
                    <br>
                    <p>Contraseña</p>
                    <input type="password">
                    <div class="btn-login">

                        <input type="submit" value="Iniciar sesión">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>