<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisan Market || Carrito de compras</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="top-header">
            <div class="box-logo">
                <img class="logo" src="/images/logo.png" width="360" alt="Logo de Artisan Market">
                <h1 class="title">Artisan Market Colombia</h1>
            </div>
            <div class="searchbar">
                <input type="search" placeholder="Buscar productos">
                <button><i class="fas fa-search"></i></button>
            </div>
            <nav class="main-navbar">
                <ul>
                    <li>
                        <a href="/register">
                            <i class="far fa-id-card"></i>
                            <p> Registro </p>
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            <i class="fas fa-user"></i>
                            <p> Ingreso </p>
                        </a>
                    </li>
                    <li>
                        <a href="/productCart">
                            <i class="fas fa-shopping-cart"></i>
                            <p> Carrito </p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <nav class="browse-navbar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Regiones</a></li>
                <li><a href="#">Productos destacados</a></li>
                <li><a href="#">Contáctenos</a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="carrito">
        <section class="productcar">
            <h3>Carrito de compras <i class="fas fa-shopping-cart"></i></h3>
            <div class="products">
                <article>
                    <div class="hamaca-san-jacinto">
                        <h2>Hamaca San Jacinto</h2>
                    </div>
                    <img src="/images/Hamaca san jacinto.jpeg" width="360" alt="hamaca-sanjacinto" class="product_img">
                    <h4 class="description">Hamaca cuadro acordonada amarillo/azul/verde || Asociación de Artesanos de
                        San
                        Jacinto</h4>
                    <p class="price">$477.000</p>
                    <form class="cantidad" action="/" method="get"></form>
                    <label>Cantidad:</label>
                    <select name="cant">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <p class="eliminar">Eliminar</p>
                </article>
                <article>
                    <div class="hamaca-san-jacinto">
                        <h2>Hamaca San Jacinto</h2>
                    </div>
                    <img src="/images/Hamaca san jacinto.jpeg" width="360" alt="hamaca-sanjacinto" class="product_img">
                    <h4 class="description">Hamaca cuadro acordonada amarillo/azul/verde || Asociación de Artesanos de
                        San
                        Jacinto</h4>
                    <p class="price">$477.000</p>
                    <form class="cantidad" action="/" method="get"></form>
                    <label>Cantidad:</label>
                    <select name="cant">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <p class="eliminar">Eliminar</p>
                </article>
                <article>
                    <div class="canasto-iraca">
                        <h2>Canasto Tejido En Iraca</h2>
                    </div>
                    <img src="/images/canasto-iraca.jpg" width="360" alt="Canasto-iraca" class="product_img">
                    <h4 class="description">Canasto tejido elaborado por manos artesanas con Iraca en el departamento de
                        Nariño</h4>
                    <p class="price">$45.000</p>
                    <form class="cantidad" action="/" method="get"></form>
                    <label>Cantidad:</label>
                    <select name="cant">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <p class="eliminar">Eliminar</p>
                </article>
            </div>
            <h4>Envío: $30.000</h4>
            <h3>Total $</h3>
        </section>
        <form action="/buy" method="get">
            <p>
                <button type="submit" name="/">Comprar</button>
            </p>
        </form>
    </main>
    <footer>
        <section>
            <p>© 2021 Artisan Market</p>
            <p><i class="fab fa-linkedin"></i></p>
            <p></i> <i class="fab fa-twitter"></i></p>
            <p><i class="fab fa-facebook-f"></i></p>
            <p><i class="fab fa-instagram"></i></p>
        </section>
    </footer>
</body>

</html>